#split-flap {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
}

.sf-cell {
  position: relative;
  flex: 1;
}

.sf-cell > * {
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sf-cell > :first-child {
  position: relative;
  width: auto;
  height: auto;
}

.sf-cell .flap {
  transform-style: preserve-3d;
}

.sf-cell .flap svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.sf-cell .shadow,
.sf-cell .shine {
  opacity: 0;
}

.sf-cell .top {
  transform: translate3d(50%, 0, -1px) rotateX(180deg) translate3d(-50%, 0, 0);
}

.sf-cell .bottom {
  transform: translate3d(0, 0, 0);
}
