@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

:root {
  --header-color: #56585b;
  --text-color: #222;
  --underline-color: #2222224d;
  --link-highlight-color: rgb(248, 203, 0);
}

header,
footer {
  --text-color: #fff;
  --underline-color: #ffffff4d;
}

html,
body {
  margin: 0;
  background: var(--header-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  --underline-color: transparent;
}

header {
  height: 50vh;
  background: var(--header-color);
  display: flex;
  align-items: center;
  color: var(--text-color);
}

section {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

@property --underline-offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: var(--underline-offset, 0.1em);
  text-decoration-thickness: 0.1em;
  transition: --underline-offset, text-decoration-color,
    text-decoration-thickness;
  transition-duration: 0.2s;
}

a:hover,
a:focus {
  --underline-offset: 0.25em;
  text-decoration-color: var(--link-highlight-color);
  text-decoration-thickness: 0.2em;
}

@supports not (background: paint(something)) {
  a {
    transition: text-underline-offset, text-decoration-color;
  }

  a:hover,
  a:focus {
    text-underline-offset: 0.25em;
  }
}
