@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto+Mono");

html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: "kern" 1, "liga" 1, "ccmp" 1, "case" 1, "calt" 1,
    "ss01" 1;
}

pre,
code {
  font-family: "Roboto Mono", monospace;
  white-space: pre-wrap;
}

:root {
  --header-color: #56585b;
  --text-color: #000000e0;
  --code-color: #000000c0;
  --code-bg-color: #00000008;
  --underline-color: #2222224d;
  --link-highlight-color: #ffca00;
  --decl-color: #00000066;
  --keyword-color: #e10028;
  --fn-color: #9300ff;
  --type-color: #0155f3;
  --param-color: #d100ac;
  --prop-color: #d95b00;
  --literal-color: #f0a000;
  --nav-size: 50px;
  --small-col-width: 285px;
  --gutter-size: 2.5rem;
  --column-gap: 2.5rem;
  --font-size: 15px;
  --letter-spacing: -0.009em;
  --max-width: calc(3 * var(--small-col-width) + 2 * var(--column-gap));
}

@media not all and (min-width: 700px) {
  :root {
    --gutter-size: 1.5rem;
  }
}

header,
footer {
  --text-color: #fff;
  --underline-color: #ffffff4d;
}

header,
footer,
section {
  color: var(--text-color);
}

html,
body,
:root {
  background: var(--header-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.414rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1rem;
  margin-bottom: 1em;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1em;
  font-weight: 500;
}

header {
  position: relative;
  height: max(
    33vh,
    calc(0.52 * min(100vw - 20px, 800px) - 2 * var(--nav-size))
  );
  padding: 0 var(--gutter-size) var(--nav-size);
  background: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  width: 100%;
  max-width: var(--max-width);
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  --underline-color: transparent;
  height: var(--nav-size);
  align-items: center;
}

header nav a {
  padding: 0.5em 1em;
}

header nav a:first-child {
  padding-left: 0;
}
header nav a:last-child {
  margin-left: auto;
  padding-right: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > section {
  background: white;
}

section > * {
  width: 100%;
}

section > :not(section) {
  margin: var(--gutter-size);
  max-width: calc(min(var(--max-width), 100vw - 2 * var(--gutter-size)));
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

p {
  max-width: 40em;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

pre, code {
  color: var(--code-color);
}

p code {
  white-space: pre;
}

p code:not([class]) {
  background: var(--code-bg-color);
  border-radius: 0.2em;
  padding: 0 0.2em;
  margin: 0 -0.2em;
}

@property --underline-offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --underline-thickness {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-thickness);
  transition: text-decoration-color, --underline-offset, --underline-thickness;
  transition-duration: 0.2s;
}

section:not(:target) > h2 > a:not(:hover),
section:not(:target) > div > h2 > a:not(:hover),
section:not(:target) > div > div > h2 > a:not(:hover),
section:not(:target) > h3 > a:not(:hover),
section:not(:target) > div > h3 > a:not(:hover),
section:not(:target) > div > div > h3 > a:not(:hover),
section:not(:target) > h4 > a:not(:hover),
section:not(:target) > div > h4 > a:not(:hover),
section:not(:target) > div > div > h4 > a:not(:hover) {
  text-decoration-color: transparent;
}

section:target > h2 > a,
section:target > div > h2 > a,
section:target > div > div > h2 > a,
section:target > h3 > a,
section:target > div > h3 > a,
section:target > div > div > h3 > a,
section:target > h4 > a,
section:target > div > h4 > a,
section:target > div > div > h4 > a,
a:hover {
  --underline-offset: 0.15em;
  --underline-thickness: 0.2em;
}

a:hover {
  text-decoration-color: var(--link-highlight-color);
}

@supports not (background: paint(something)) {
  a {
    transition: text-underline-offset, text-decoration-color, text-decoration-thickness;
  }
}

@media (min-width: 700px) {
  .two-col {
    column-fill: balance;
    column-gap: var(--column-gap);
    column-count: 2;
  }
}

/* Section specific */

#intro h3 {
  position: absolute;
}

#intro p:first-child:before {
  content: 'Decimalish';
  visibility: hidden;
}

.api-toc-sec {
  background: #c2ffdb;
}

.api-toc-sec > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--small-col-width), 1fr));
  gap: var(--column-gap);
}

.api-toc-sec ul {
  list-style: none;
}

.api-toc-sec li a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  --underline-color: transparent;
}

.api-toc-sec pre {
  margin-left: 1.5em;
}

.api pre {
  text-indent: -4ch;
  padding-left: 4ch;
  margin-bottom: 1em;
  overflow: scroll;
  white-space: pre-wrap;
}

.api.error {
  background: #cd3b00;
  --text-color: #fff;
  --code-color: #ffffffc0;
  --code-bg-color: #ffffff08;
  --underline-color: #ffffff4d;
  --keyword-color: #ffffffa0;
  --fn-color: #ffffff;
  --type-color: #ffffff;
  --param-color: #ffffff;
  --prop-color: #ffffff;
  --literal-color: #ffe014;
}

section.odd {
  background: #f6f6f6;
}

@media (min-width: 700px) {
  .api > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--column-gap);
  }

  .api > div > :last-child {
    grid-column: span 3;
  }

  .api.member > div > :first-child {
    text-align: right;
  }
}

@media not all and (min-width: 700px) {
  .api.member > * {
    margin-left: calc(2 * var(--gutter-size));
    width: calc(100% - 3 * var(--gutter-size));
  }
}

.decl {
  color: var(--decl-color);
}

.fn {
  color: var(--fn-color);
}

.param {
  color: var(--param-color);
}

.prop {
  color: var(--prop-color);
}

.type {
  color: var(--type-color);
}

.literal {
  color: var(--literal-color);
}

.keyword {
  color: var(--keyword-color);
}
