@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-feature-settings: "ccmp", "case", "calt", "ss01";
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

:root {
  --header-color: #56585b;
  --text-color: #222;
  --underline-color: #2222224d;
  --link-highlight-color: rgb(248, 203, 0);
  --max-width: 800px;
  --gutter-size: 20px;
  --nav-size: 50px;
}

header,
footer {
  --text-color: #fff;
  --underline-color: #ffffff4d;
}

html,
body {
  margin: 0;
  background: var(--header-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  --underline-color: transparent;
}

header {
  position: relative;
  height: max(33vh, calc(0.52 * min(100vw - 20px, 800px) - 2 * var(--nav-size)));
  padding: 0 var(--gutter-size) var(--nav-size);
  background: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

header nav {
  width: 100%;
  max-width: var(--max-width);
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  --underline-color: transparent;
  --edge-alignment: calc(0.026 * min(100vw - 20px, 800px));
  height: var(--nav-size);
  align-items: center;
}

header nav a {
  padding: 0 1em;
}

header nav a:first-child {
  padding-left: var(--edge-alignment);
}
header nav a:last-child {
  margin-left: auto;
  padding-right: var(--edge-alignment);
}

section {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

@property --underline-offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: var(--underline-offset, 0.1em);
  text-decoration-thickness: 0.1em;
  transition: --underline-offset, text-decoration-color,
    text-decoration-thickness;
  transition-duration: 0.2s;
}

a:hover,
a:focus {
  --underline-offset: 0.25em;
  text-decoration-color: var(--link-highlight-color);
  text-decoration-thickness: 0.2em;
}

@supports not (background: paint(something)) {
  a {
    transition: text-underline-offset, text-decoration-color;
  }

  a:hover,
  a:focus {
    text-underline-offset: 0.25em;
  }
}
