@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Mono");

html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-kerning: normal;
  font-variant-ligatures: contextual common-ligatures;
  font-feature-settings: "kern" 1, "liga" 1, "ccmp" 1, "case" 1, "calt" 1,
    "ss01" 1;
}

pre,
code {
  font-family: "Roboto Mono", monospace;
}

:root {
  --header-color: #56585b;
  --text-color: #000000e0;
  --code-color: #000000c0;
  --underline-color: #2222224d;
  --link-highlight-color: rgb(248, 203, 0);
  --nav-size: 50px;
  --small-col-width: 285px;
  --gutter-size: 2.5rem;
  --column-gap: 2.5rem;
  --font-size: 15px;
  --letter-spacing: -0.009em;
  --max-width: calc(3 * var(--small-col-width) + 2 * var(--column-gap));
}

@media (max-width: 699px) {
  :root {
    --gutter-size: 1.5rem;
  }
}

header,
footer {
  --text-color: #fff;
  --underline-color: #ffffff4d;
}

html,
body,
:root {
  background: var(--header-color);
  color: var(--text-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: 0  0 1em;
  --underline-color: transparent;
}

.subtle {
  --underline-color: transparent;
}

header {
  position: relative;
  height: max(
    33vh,
    calc(0.52 * min(100vw - 20px, 800px) - 2 * var(--nav-size))
  );
  padding: 0 var(--gutter-size) var(--nav-size);
  background: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

header nav {
  width: 100%;
  max-width: var(--max-width);
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  --underline-color: transparent;
  height: var(--nav-size);
  align-items: center;
}

header nav a {
  padding: 0.5em 1em;
}

header nav a:first-child {
  padding-left: 0;
}
header nav a:last-child {
  margin-left: auto;
  padding-right: 0;
}

section {
  background: white;
  padding: var(--gutter-size);
  display: flex;
  justify-content: center;
}

section > * {
  width: 100%;
  max-width: var(--max-width);
  flex: 1 0 100%;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

p {
  margin-bottom: 1rem;
}

p code {
  background: rgb(0, 10, 30, 0.03);
  border-radius: 0.2em;
  padding: 0 0.2em;
  margin: 0 -0.2em;
  color: var(--code-color);
}

@property --underline-offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: var(--underline-offset, 0.1em);
  text-decoration-thickness: 0.1em;
  transition: --underline-offset, text-decoration-color,
    text-decoration-thickness;
  transition-duration: 0.2s;
}

a:hover {
  --underline-offset: 0.15em;
  text-decoration-color: var(--link-highlight-color);
  text-decoration-thickness: 0.2em;
}

@supports not (background: paint(something)) {
  a {
    transition: text-underline-offset, text-decoration-color, text-decoration-thickness;
  }

  a:hover {
    text-underline-offset: 0.15em;
  }
}

@media (min-width: 700px) {
  .two-col {
    column-fill: balance;
    column-gap: var(--column-gap);
    column-count: 2;
  }
}

.api-toc {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--small-col-width), 1fr));
  gap: var(--column-gap);
  --underline-color: transparent;
}

.api-toc ul {
  list-style: none;
}

.api-toc a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.api-toc pre {
  color: var(--code-color);
  margin-left: 1.5em;
}
